* {
    box-sizing: border-box;
}

.widthHeight {
    width: 200px;
    height: 100px;
    /* background-color: lightblue; */
    background-image: url('https://images.unsplash.com/photo-1762368229295-81f2742fb8a5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687');
    background-size: cover;
    color: rgb(144, 79, 79);
    border-color: red;
    border-width: 10px;
    border-style: solid;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#Block1, #Block2 {
    display: inline;
}

#span1, #span2 {
    display: block;
}

label {
    display: block;
    margin-top: 20px;
}