#div1 {
    background-color: lightblue;
}
#div2 {
    background-color: lightgreen;
}
.text1 {
    color: red;
}
.text2 {
    color: orange;
    font-size: 30px;
}
*{
    /* selector all */
}

div p {
    color: red;
}